<!-- Footer -->
<style type="text/css">
	.z_footer{
		width:100%;
		background: #efefef;
		padding:10px 0 5px 0;
		height:65px;
		display: block;
		font-family:'Microsoft YaHei',Georgia,Serif;
		font-size:12px
	}
</style>
<footer>
	<div class="z_footer">
		<div style="width:280px;margin:0 auto; padding: 0;">
		 	<a target="_blank" href="http://www.miitbeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#666666;">
					Copyright &copy; 2017 PYJ 冀ICP备17006093号
				</p>
			</a><br>
			<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13048102000214" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<img src="beian.png" style="float:left;margin: 0px 0px 20px 40px;">
				<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 20px 5px; color:#666666;">
					冀公网安备 13048102000214号
				</p>
			</a><br>
	   </div>
      </div>
		
</footer>

<!-- jQuery -->
<script src="{{ "/static/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/static/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/static/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
