<!-- Footer -->
<footer>
		<p class="copyright text-muted">Copyright &copy; {{ site.copyright_name }} {{ site.time | date: '%Y' }}<br/>
		<a href="http://www.miitbeian.gov.cn/" target="_blank">冀ICP备17006093号</a>
		</p>
</footer>

<!-- jQuery -->
<script src="{{ "/static/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/static/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/static/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
