<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="referrer" content="no-referrer" />

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/static/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/static/css/clean-blog.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/static/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
	<link rel="stylesheet" href="{{ "/static/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/static/css/googleLora.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/static/css/googleOpenSans.css" | prepend: site.baseurl }}">

	<link rel="stylesheet" type="text/css" href="/static/css/socialicious.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/monokai.css">
	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src='/static/js/jquery.min.js'></script>
	<script type="text/javascript" src='/static/js/jquery.masonry.min.js'></script>
	<script type="text/javascript" src='/static/js/jquery.imagesloaded.min.js'></script>
	<script type="text/javascript" src='/static/js/highlight.pack.js'></script>

   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% feed_meta %}


	<script type="text/javascript">
			hljs.initHighlightingOnLoad();
			function applyTiles() {
				var posts = $('#posts ul');
				posts.imagesLoaded(function() {
					$('#posts ul').masonry({ itemSelector : '.post' });;
				});
			}
			$(function() {
				applyTiles();
			});
			$(window).resize(function() {
				applyTiles();
			});
		</script>
		<style type="text/css">
		</style>

</head>
