<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
    <!-- Page Header -->
	<header class="intro-header" style="height:700px;background-image: url('http://ww2.sinaimg.cn/large/71be7325jw1fbtdqq9123j21b80k34c5.jpg')">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                <div class="site-heading">
	                    <span class="subheading">{{ page.description }}</span>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
    <!-- Footer -->
	{% include footer.html %}
	{% include ga.html %}
</body>
</html>