---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('http://ww1.sinaimg.cn/large/71be7325ly1fbzd5wpvj4j21hc0u0dqb.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ '记录' }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
    <!-- PostList Container -->
		<div class=" col-lg-8 col-lg-offset-1  col-md-8 col-md-offset-1 col-sm-12  col-xs-12 postlist-container ">
			{{ content }}
		</div>
		<!-- Sidebar Container -->
		<div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container ">
			<!-- 文章标签 -->
			{% if site.featured-tags %}
			<section>
				<hr class="hidden-sm hidden-xs">
				<h5><a href="{{'/tags/' | prepend: site.baseurl }}">文章标签</a></h5>
				<div class="tags">
					{% for tag in site.tags %}
					<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
					{% endfor %}
				</div>
			</section>
			{% endif %}
		</div>
	</div>
</div>